body{
    background-color: teal;
    background-image: url("../images/fat.jpg");
    background-position-y: -150px;
    background-repeat: no-repeat;
    background-size: cover;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Nunito', 'sans-serif';
}

.login_holder{
    padding: 50px 20px 20px 50px;
    width: 35%;
    background-color: white;
    height: 100vh;
}

.login_holder img{
    height: 100px;
    width: 120px;
}

#tag_line{
    display: block;
    margin-top: 60px;
    width: 70%;
    font-size: 52px;
}

.form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.form input{
    height: 45px;
    margin-bottom: 10px;
    width: 70%;
    background-color: white;
    color: black;
    border: 1px solid gray;
    outline: none;
    padding: 10px
}

button{
    cursor: pointer;
    font-size: 16px;
    height: 45px;
    width: 70%;
    background-color: #25b5c5;
    border: none;
    color: white;
}

@media screen and (max-width: 768px) {

    body{
        background-color: teal;
        background-image: url("../images/fat.jpg");
        background-position-y: unset;
        background-repeat: no-repeat;
        min-width: 100vw;
        min-height: 100vh;
        background-size: cover;
        backdrop-filter: blur(3px);
    }


    .login_holder{
        border-radius: 5px;
        box-shadow: 0px 0px 10px gray;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px 40px;
        width: 90%;
        background-color: white;
        height: 90vh;
    }

    #tag_line{
        display: block;
        margin-top: 60px;
        width: 100%;
        font-size: 32px;
    }

    .form input{
        height: 45px;
        margin-bottom: 10px;
        width: 100%;
        background-color: #ffffff;
        color: black;
        border: 1px solid gray;
        outline: none;
        padding: 10px
    }
    
    button{
        font-size: 16px;
        height: 45px;
        width: 100%;
        background-color: #25b5c5;
        border: none;
        color: white;
    }
}

@media screen and (max-width: 600px) {

}