.title {
    font-size: 30px;
}

.header {
    padding: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.164);
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header p {
    color: gray;
}

.header p:nth-child(1) {
    width: 40%;
}

.header p:nth-child(2) {
    width: 15%;
}

.header p:nth-child(3) {
    width: 15%;
}

.header p:nth-child(4) {
    width: 20%;
}

.user {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.164);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user:hover {
    box-shadow: 0px 10px 10px rgba(128, 128, 128, 0.288);
    border: none;
    border-radius: 5px;
}

.user .dets {
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dets img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    border-radius: 15px;
}

.dets .name {
    margin-right: 10px;
    font-size: 16px;
}

.dets .email {
    margin-right: 10px;
    font-size: 14px;
    color: gray;
}

.user .role_holder {
    width: 15%;
}

.role {
    text-align: center;
    border-radius: 4px;
    width: 100px;
    color: #2373fc;
    font-size: 14px;
    background-color: #4084F84a;
}

.user p:nth-child(3) {
    width: 15%;
}

.user p:nth-child(4) {
    font-style: italic;
    width: 20%;
}